beautifulsoup4
browser-cookie3
colorama
cryptography
deep-translator
discord
dnspython
exifread
instaloader
phonenumbers
piexif
pillow
psutil
pyautogui
pycryptodome
requests
screeninfo
selenium
urllib3
whois